.body
{
    height: 100vh;
    width: 100%;
    background-color: rgb(77, 77, 77);
    text-align: center;
}

.body .button
{
    background-color: gray;
}

.body .showinfocomp
{
    margin-top: 80px;
}

